.sa-fondo-pelicula-banner {
  background-color: #000000;
}
.sa-color-letras-pelicula-banner {
  color: #fff
}
.sa-fondo-estado {
  background-color: #fabb00;
}
sa-color-estado-rosado {
  background-color: #faa3e0;
}

sa-color-estado-amarillo {
  background-color: #fabb00;
}

.fillwidth {
  min-width: 100%;
  height: auto;
}

