<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>
      <button pButton type="button" label="Click" class="ui-button-success"></button>
      <p-button label="Click" ></p-button>
      <button mat-button color="accent">Click me!</button>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>














<!--<div class="barra-superior">-->
  <!--<app-menu-superior></app-menu-superior>-->
  <!--<app-menu-inferior></app-menu-inferior>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-sm-6 text-center" *ngFor="let pelicula of arregloPeliculas; let indice=index">-->
    <!--&lt;!&ndash;img [src]="pelicula.imagen" [alt]="pelicula.descripcion">-->
    <!--<h1>{{pelicula.nombre}} / {{pelicula.esEstreno}}</h1>-->
    <!--<p>{{pelicula.descripcion}}</p&ndash;&gt;-->
    <!--<app-pelicula-banner [urlImagen]="pelicula.urlImagen"-->
                         <!--[descripcionImagen]="pelicula.descripcion"-->
                         <!--[nombrePelicula]="pelicula.nombre"-->
                         <!--[descripcionPelicula]="pelicula.descripcion"-->
                         <!--[esEstreno]="pelicula.esEstreno"-->
                         <!--(dioClickEnEstado)="alertar($event)"-->
    <!--&gt;</app-pelicula-banner>-->
    <!--<button (click) ="pelicula.esEstreno=!pelicula.esEstreno">Cambiar es estreno </button>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-sm-3"><app-pelicula-banner></app-pelicula-banner></div>-->
  <!--<div class="col-sm-3"><app-pelicula-banner></app-pelicula-banner></div>-->
  <!--<div class="col-sm-3"><app-pelicula-banner></app-pelicula-banner></div>-->
  <!--<div class="col-sm-3"><app-pelicula-banner></app-pelicula-banner></div>-->
<!--</div>-->


<!--
<app-grilla></app-grilla>
<app-boton-prueba></app-boton-prueba>
<app-pelicula-banner></app-pelicula-banner>
-->






























<!--<h2 [class] = "clase">Two way data binding</h2>-->
<!--<ul>-->
  <!--<li>Clase <&ndash;&gt; Template [(ngModel)]</li>-->
<!--</ul>-->
<!--<p>Clase: {{clase}}</p>-->
<!--<input type="text"-->
       <!--name="clase"-->
       <!--id="clase"-->
       <!--[(ngModel)]= "clase">-->

<!--<h2>One way data binding</h2>-->
<!--<ul>-->
  <!--<li>Clase al Template &ndash;&gt; [class]</li>-->
  <!--<li>Template a Clase &ndash;&gt; (click)</li>-->
<!--</ul>-->

<!--<div [hidden]="false">-->
  <!--<h1 [class]="nombreClase" (click)=cambiarClaseDeTitulo() >Hola amigos!!! :)</h1>-->
  <!--<input type="text" #textoInput>-->
  <!--<div>-->
    <!--<p>Nombre: {{nombre}}</p>-->
    <!--<p>Apellido: {{apellido}}</p>-->
    <!--<p>Edad: {{edad}}</p>-->
    <!--<p>Sueldo: {{sueldo | currency}}</p>-->
    <!--<p>Fecha de Nacimiento: {{fechaNacimiento | date:'yyyy/mm/dd'}}</p>-->
    <!--<button (click)="cambiarClaseDeTitulo()">{{nombreBoton}}</button>-->
  <!--</div>-->
  <!--<button (blur)=aplicarClase(textoInput.value)-->
          <!--(click)=aplicarClase(textoInput.value)>-->
    <!--Aplicar Clase-->
  <!--</button>-->
<!--</div>-->

